.Rewards-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  /* padding-bottom: 3vmax; */
  color: #fff;
}

.spark_img img {
  width: 100%;
  height: auto;
}

.Rewards-main .Rewards {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Rewards-main .Rewards .Rewards-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.Rewards-main .Rewards .Rewards-top h1 {
  text-align: justify;
  font-family: 'Satoshi', sans-serif;
}

.Rewards-main .Rewards .Rewards-top .dubble-line {
  background: url("../../assets/images/text_img.png") no-repeat right;
    background-size: contain;
    padding: 30px 90px !important;
    display: inline-block;
}
.sports-section h2{
  font-size: 4vmax;
}
.sports-section {
  /* background-color: #0e0e0e; */
  padding: 30px 20px;
  text-align: center;
  color: white;
  width: 100%;
  overflow: hidden;
}

.sport-card {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.sport-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px #DBB66B;
}

.sport-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 15px;
}

.sport-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.centered-text {
  text-align: center;
  margin: 0;
}

/* Slick slider customization (optional) */
.slick-slide {
  padding: 10px;
}

.slick-track {
  display: flex;
  align-items: center;
}
