.reset-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/login-bg.png");
}

.reset-main .reset-content {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-main .reset-content form {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid #DBB66B;
    border-radius: 5px;
    padding: 3vmax 3vmax;
}

.reset-main .reset-content form h5 {
    font-size: 2vmax;
    color: #DBB66B;
    font-weight: 700;
}

.reset-main .reset-content form small {
    font-size: 0.9vmax;
    color: #dbdbdb;
}

.reset-main .reset-content form .reset-ipt {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.7vmax;
    border: 1px solid #DBB66B;
    border-radius: 5px;
}

.reset-main .reset-content form .reset-ipt input {
    outline: none;
    border: none;
    color: #fff;
    background: none;
    padding: 0.8vmax 1vmax;
    width: 100%;
}

.reset-main .reset-content form .reset-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vmax;
}

.reset-main .reset-content form .reset-btn button {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-weight: lighter;
    letter-spacing: 0.2px;
    font-size: 1vmax;
    padding: 0.8vmax 1vmax;
    color: #fff;
    transition: 0.5s;
    border-radius: 5px;
    background: linear-gradient(90deg, #DBB66B 0%, #F90 100%);
}

.reset-main .reset-content form .reset-one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vmax;
}

.reset-main .reset-content form .reset-one a {
    text-decoration: none;
    color: #DBB66B;
}

.f-password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.f-eye-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: #DBB66B;
    font-size: 1.2rem;
}

@media (min-width:768px) and (max-width:1050px) {
    .reset-main {
        height: 100vh;
        background-position: top center;
    }

    .reset-main .reset-content form {
        width: 100%;
    }

    .reset-main .reset-content form h5 {
        font-size: 4vmax;
    }

    .reset-main .reset-content form small {
        font-size: 2vmax;
    }

    .reset-main .reset-content form .reset-ipt {
        width: 100%;
        padding: 1.4vmax 1vmax;
        margin-bottom: 1vmax;
    }

    .reset-main .reset-content form .reset-ipt input::placeholder {
        font-size: 2.4vmax;
    }

    .reset-main .reset-content form .reset-btn button {
        padding: 1.5vmax 1vmax;
        font-size: 2.5vmax;
    }

    .reset-main .reset-content form .reset-one {
        margin-top: 3vmax;
    }

    .reset-main .reset-content form .reset-one span {
        font-size: 3vmax;
    }
}

@media (max-width:768px) {
    .reset-main {
        background-position: top center;
    }

    .reset-main .reset-content {
        width: 95%;
    }

    .reset-main .reset-content form {
        width: 100%;
        padding: 3vmax 1vmax;
    }

    .reset-main .reset-content form h5 {
        font-size: 4vmax;
    }

    .reset-main .reset-content form small {
        font-size: 1.5vmax;
    }

    .reset-main .reset-content form .reset-ipt {
        width: 100%;
        padding: 0.9vmax 1vmax;
        margin-bottom: 0.6vmax;
    }

    .reset-main .reset-content form .reset-btn {
        margin-top: 2vmax;
    }

    .reset-main .reset-content form .reset-btn button {
        padding: 2vmax 1vmax;
        font-size: 13px;
    }

    .reset-main .reset-content form .reset-one {
        margin-top: 3vmax;
    }

    .reset-main .reset-content form .reset-one a {
        text-decoration: none;
    }

}

